{% extends 'base.html.twig'%}

{% block body %}
        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
            {% if is_granted('IS_AUTHENTICATD_FULLY') %}
            <p>Participant : {{ app.user.pseudo }}</p>
            {% endif %}
        </div>


            <h2>Filtrer les sorties</h2>
    <form action="" method="post">
        <label for="list_campus">Campus : </label>
        <select name="" id=""></select><br>
        <label for="filtre2">Le nom de la sortie contient :</label>
        <input type="text" name="filtre2" id="filtre2"><br>
        <label for="">Entre</label>
        <input type="date"><br>
        <label for="">Et</label>
        <input type="date">

        <input type="submit" value="Rechercher">
    </form>




{% endblock %}

