{% extends 'base.html.twig'%}

{% block title%}Toutes les sorties{% endblock %}
{% block body %}
        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
            {% if is_granted('IS_AUTHENTICATD_FULLY') %}
            <p>Participant : {{ app.user.pseudo }}</p>
            {% endif %}
        </div>


            <h2>Filtrer les sorties</h2>


            {{ form(sortiesForm) }}


    {# <!--<form action="{{ path('main_accueil') }}" method="post"> </form>-->  #}




<div>
    <tr>
        <td>Nom de la sortie</td>
        <td>Date de la sortie</td>
        <td>Clôture</td>
        <td>Inscrits/Places</td>
        <td>Etat</td>
        <td>Inscrit</td>
        <td>Organisateur</td>
        <td>Actions</td>
    </tr>
</div>

    <button onclick="window.location.href = '/sortie/creer';">Créer une sortie</button>
{% endblock %}

