*
{
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 4em;
    text-align: center;
}
h2{
    text-align: left;
    background-color: #212121;
    width: fit-content;
    padding: 3px 10px;
    color: white;
    font-size: 1.2em;
}
a
{
    text-decoration: none;
}
tr{
    height: 50px;
    vertical-align: middle;
}
th{
    width: 150px;
    text-align: center;
    font-size: 0.9em;
}
.menu-ul{
    list-style: none;
    display: flex;
    font-size: 1.3em;
    float: right;
}
.login-body
{
    background-image: url("../img/canard-bg.png");
    background-repeat: no-repeat, repeat;
    background-position: center;

}
.container-login
{
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
}
.container-sortie
{
    margin: 0 auto;
    display: flex;
    width: 35%;
    margin-top: 25px;
}
.container-recap
{
    margin: 0 auto;
    width: 80%;
    margin-top: 25px;
}
.form-login
{
    margin: 0 auto;
    width: 100%;
}
.lien-inscription-li
{
    list-style: none;
    text-align: center;
}
.lien-inscription
{
    list-style: none;
    color: #f5df4d;
    font-size: 1.5em;
}
.lien-inscription:hover
{
    color: #212121;
    font-size: 1.5em;
}
.checkbox
{
    text-align: center;
}
.souvenir-label
{
    width: 30%;
    text-align: center;
}
.souvenir-input
{
    width: 10%;
}
.menu-a
{
    color: #212121;
    font-weight: bold;
}
.menu-a:hover
{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #f5df4d;
    text-decoration-thickness: 7px;
    text-decoration-lenght: 10px;
}

.header
{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 200px;
}
.logo-div
{
    display: inline-block;
    width: 60%;
    margin: 20px 0 0 30px;
}
.nav-div
{
    display: inline-block;
    width: 40%;
    text-align: right;
    position: absolute;
    right: 52px;
}

.container
{
    display: flex;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 30px;
}
.container-form
{
    display: flex;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 30px;
}
.lien-ajout-a
{
    color: white;
}
.lien-ajout
{
    background-color: #212121;
    width: fit-content;
    margin: 0 auto;
    padding: 3px 10px;
    margin-bottom: 20px;
    border: 2px solid #212121;
    border-radius: 20px;
    transition: all 1s;
}
.lien-ajout:hover
{
    background-color: #f5df4d;
    border: 2px solid #f5df4d;

}
.picto
{
    color: white;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.nom-champ
{
    font-weight: bold;
    color: #212121;
}
.champ-li
{
    color: #999999;
}
.formulaire
{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.contenu-form
{
    display: block;
}
.btn-div
{
    margin: 0 auto;
    width: 400px;
    text-align: center;
}
.btn-many-div {
    margin: 0 auto;
    text-align: center;
}
.annulation-btn
{
    border: 7px solid #212121;
    transition: all 1s;
    color: #212121;
    padding: 20px 30px;
    background-color: white;
    margin: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.annulation-btn:hover
{
    border-radius: 50px;
}

.validation-btn
{
    border: 7px solid #f5df4d;
    transition: all 1s;
    color: #212121;
    padding: 20px 30px;
    background-color: white;
    margin: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.validation-btn:hover
{
    border-radius: 50px;
}

.img-profil-div
{
    margin: 0 20px 0 0;
}
.img-profil
{
    width: 300px;
    height: 300px;
}
.champ-photo
{
    background-color: #f5df4d;
    transition: all 1s;
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-style: none;
}
.champ-photo:hover
{
    border-style: none;
}
.info
{
    margin: 0 auto;
}
.barre-verticale
{
    border-left: 3px solid #efefef;
}
.info-ul
{
    list-style: none;
    font-size: 1.5em;
    line-height: 2em;
}
.titre-erreur
{
    font-size: 10em;
    margin-bottom: -40px;
    font-weight: bolder;
}
.img-erreur-div
{
    margin: 0 auto;
    width: 600px;
}
.img-erreur
{
    width: 600px;

}
.phrase-erreur
{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
select
{
    border: 3px solid #212121;
    background: url("/public/img/arrow.png") no-repeat right;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: #212121;
    width: 60%;
    cursor: none;
    font-size: 1.2em;
}
select:hover
{
    color: #f5df4d;
}


label
{
    font-size: 1.2em;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 15%;
    vertical-align: top;
}

.flash{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.flash-success{

    background-color: #acd9ca;
    padding: 10px 20px;
}

input,
textarea{
    border: 3px solid #212121;
    background-color: transparent;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: #999999;
    width: 60%;
    font-size: 1.2em;
}

input:hover,
textarea:hover,
select:hover{
    border-style: dashed;
}

input:focus,
textarea:focus,
select:focus{
    outline:none;
}

h1
{
    font-size:3em;
    text-align:center;
    margin: 0;
}

#description
{
    font-size: x-large;
    text-align:center;
    margin-bottom: 70px;
}

#col {
    font-size: large;
    column-count: 2;
}
#identifiant-password
{
    text-align: center;
}
#identifiant-login
{
    text-align: center;
}
