<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%  block title %} Sortie {% endblock %}</title>
    </head>
    <body>
        <header>
            <a href="{{ path('main_home') }}" title="Accueil">Accueil</a>
            <a href="{{ path('Villes') }}" title="Villes">Villes</a>
            <a href="{{ path('Campus') }}" title="Campus">Campus</a>
        </header>
        <main>
            {% block body %} {% endblock %}
        </main>
        <footer></footer>
    </body>
</html>
