<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="icon" href=" {{ asset('../public/img/favicon.png') }}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="logo-div">
                <img src="{{ asset('img/logo-coul.png') }}" alt="logo Sortir.com">
            </div>
            {% include ('nav/nav.html.twig') %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
