{% extends 'base.html.twig' %}

{% block title %} Mon Profil {% endblock %}

{% block body %}
    <h1 class="titre-erreur">404 !</h1>
<div class="img-erreur-div">
    <img class="img-erreur" src="{{ asset('img/canard-cochon_404.png')}}">
</div>
    <p class="phrase-erreur">VOUS ÊTES PARTIS TROP LOIN…</p>

{% endblock %}