{% extends 'base.html.twig' %}

{% block title %} Mon Profil {% endblock %}

{% block body %}
    <h1 class="titre-erreur">403 !</h1>
    <div class="img-erreur-div">
        <img class="img-erreur" src="{{ asset('img/canard-cochon_403.png')}}">
    </div>
    <p class="phrase-erreur">HOP HOP RETOURNES DANS TA MARRE !</p>

{% endblock %}