<nav>

    <ul>
        {% if app.user %}
            <li><a href="{{ path('main_home') }}" title="Home">Accueil</a></li>
            <li><a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a></li>

            {% if is_granted ("ROLE_ADMIN") %}
                <li><a href="{{ path('admin_dashboard') }}" title="Admin Dashboard">Admin</a></li>
            {% endif %}

{# {% else %}#}

        {% endif %}

    </ul>
</nav>