<div class="nav-div">
    <ul class="menu-ul">
        <a class="menu-a" href=""><li class="menu-li">Accueil </li></a>
        <li class="menu-li">&ensp;|&ensp;</li>
        <a class="menu-a" href=""><li class="menu-li"> Mon Profil </li></a>
        <li class="menu-li">&ensp;|&ensp;</li>
        <a class="menu-a" href=""><li class="menu-li"> Se Connecter</li></a>
    </ul>
</div>

